.search-btn .ant-btn {
    background-color: orange !important;
    border: orange !important;
}

.ant-input-wrapper {
    display: inline-flex !important;
    align-items: center !important;
}

.nav-logout-btn {
    color: rgba(255, 255, 255, 0.65) !important;
    margin-left: -15px !important;
}